<table id="users-table", data-source="<%= users_path(format: :json) %>", class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

 <%= best_in_place  User.fourth, :phone, :type => :input, :nil => "Click me to add content!" %>